.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  overflow: hidden;
}

.main-content {
  flex: 1;
  padding: 2.5rem 2rem;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .main-content {
    padding: 1.5rem 1rem;
  }
}
